header
{
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;

    
}

h1
{
    font-family: Cambria, serif;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    color: turquoise;
<<<<<<< HEAD
    background-color: rgba(255, 255, 255, 35%)
}
h1 div
{
=======
    background-color: rgba(255, 255, 255, 0.35);

}
h1 div{
   
>>>>>>> 77a1401703b807434fae149d0e76b0ef5ae135c1
    font-size: 2rem;
    font-style: italic;
    letter-spacing: normal;
    text-transform: none;
<<<<<<< HEAD
}
#navBar
{
    background-color: rgb(18, 112, 132) 
}
#felsorolas
{
    line-height: 25px;
    list-style-image: url(img/icon.png)
}
#reszeiKep
{
    box-shadow: 2px 2px 5px black
}
h2
{
    font-variant: small-caps;
}
@media only screen and (max-width: 768px) 
{
    h1{
        font-size: 3em;
    }    
}
#tovabbreszlet{
    
    position: relative;
    left: 1150px;
}
table tr {
    border: 1px solid black;
}
td{
    border: 1px solid black;
    text-align: center;
=======

    display: block;
}
ul{
    list-style-image: url(img/icon.png);
}

@media only screen and(max-width: 768px){

    h1{
        font-size: 3em;
    }
}
#navbar{
    background-color: rgba(18, 112, 132);
    color: white;
}
h3{
    font-variant: small-caps;
}
#kep{
    box-shadow: 2px 2px 5px black;
>>>>>>> 77a1401703b807434fae149d0e76b0ef5ae135c1
}